@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

:root {
  --primary-danger: #da4167;
  --primary-success: #97d8b2;
  --primary-edit: #ffba08;
  --primary-white: #fff;
  --primary-black: #000;
  --theme-color: #41b883;
  --transition-1: all 0.3s ease-in-out;
  --bg-color: rgba(204, 204, 204, 0.075);
  --bg-color-2: rgba(204, 204, 204, 0.486);
  --box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --box-shadow-2: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --box-shadow-3: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Pacifico', cursive;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.img {
  width: 100%;
}
.isComplete {
  background-color: var(--primary-success);
}
.section {
  min-height: calc(100vh - 170px);
}
.section-center {
  max-width: 600px;
  margin: 1rem;
  text-align: center;
}
.nav {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
}
.navbar {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  padding: 1rem;
}
.navbar a {
  color: var(--primary-black);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: var(--transition-1);
}
.navbar a:hover {
  color: var(--theme-color);
}

.logo {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.title {
  text-align: center;
  margin: 1rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: aliceblue;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}
@media screen and (min-width: 600px) {
  .section-center {
    margin: 1rem auto;
  }
}
.alert-container {
  height: 3rem;
}
.alert-box {
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid var(--primary-danger);
  margin: 1rem auto;
}

.danger {
  border: 2px solid var(--primary-danger);
}
.success {
  border: 2px solid var(--primary-success);
}
.warning {
  background: var(--primary-edit);
  border: none;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px auto;
  box-sizing: border-box;
  font-family: inherit;
}
.todo-container {
  width: 100%;
}

.todo-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}
.item {
  text-align: start;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr auto;
  padding: 0.5rem;
}

.isComplete.item p {
  text-decoration: line-through;
}

.btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 0.5rem;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: var(--transition-1);
  color: white;
}
svg {
  transition: var(--transition-1);
}
.btn:hover svg {
  fill: white;
  transform: scale(1.1);
}
.edit {
  background-color: var(--primary-edit);
}
.complete {
  background-color: var(--primary-success);
}
.delete {
  background-color: var(--primary-danger);
}

.isComplete .complete {
  border: 1px solid white;
}
.isComplete .complete svg {
  fill: white;
}
.remove-items {
  border: 2px solid var(--primary-danger);
  padding: 0.5rem;
  border-radius: 5px;
  background-color: transparent;
  transition: var(--transition-1);
  text-transform: capitalize;
  color: var(--primary-danger);
  margin-top: 1rem;
}
.remove-items:hover {
  border: 2px solid var(--primary-white);
  color: var(--primary-white);
  background-color: var(--primary-danger);
}

/* Home */

.container {
  max-width: 1200px;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.card {
  width: 100%;
  height: 100%;
  max-height: 400px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  box-shadow: var(--box-shadow-2);
  border-radius: 10px;
  transition: var(--transition-1);
  overflow: hidden;
  background-color: var(--theme-color);
  color: var(--primary-white);
}
.card:hover {
  box-shadow: var(--box-shadow-3);
  transform: translate(0, -2px) scale(1.01);
}
.card .img {
  max-height: 300px;
  object-fit: cover;
}
.description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-name {
  padding: 0.4rem;
}
.links {
  width: 100%;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-around;
  align-items: center;
}
.links svg {
  fill: var(--primary-white);
  transition: var(--transition-1);
}
.links svg:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 960px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
  }
}

/* Footer */
footer {
  height: 100px;
  color: var(--primary-white);
  background-color: var(--theme-color);
  display: grid;
  place-content: center;
  margin-top: 2rem;
  gap: 0.5rem;
  text-align: center;
}
footer a {
  color: var(--primary-white);
  text-decoration: underline;
}
footer a:hover {
  color: var(--primary-danger);
  letter-spacing: normal;
}
